body{
    background:linear-gradient(to right,
        yellow,
        #009966 20%,
        purple);
}
header{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
ul{
        list-style: none;
}
